body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1370px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u461_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:233px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u461 {
  position:absolute;
  left:0px;
  top:0px;
  width:1370px;
  height:233px;
}
#u462 {
  position:absolute;
  left:2px;
  top:108px;
  width:1366px;
  visibility:hidden;
  word-wrap:break-word;
}
#u463_div {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#EDDE45;
}
#u463 {
  position:absolute;
  left:366px;
  top:45px;
  width:639px;
  height:46px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:36px;
  color:#EDDE45;
}
#u464 {
  position:absolute;
  left:0px;
  top:0px;
  width:639px;
  white-space:nowrap;
}
#u465_div {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u465 {
  position:absolute;
  left:366px;
  top:131px;
  width:192px;
  height:41px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:32px;
}
#u466 {
  position:absolute;
  left:0px;
  top:0px;
  width:192px;
  white-space:nowrap;
}
#u467_img {
  position:absolute;
  left:0px;
  top:0px;
  width:811px;
  height:601px;
}
#u467 {
  position:absolute;
  left:280px;
  top:270px;
  width:811px;
  height:601px;
}
#u468 {
  position:absolute;
  left:2px;
  top:292px;
  width:807px;
  visibility:hidden;
  word-wrap:break-word;
}
#u469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:55px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u469 {
  position:absolute;
  left:629px;
  top:871px;
  width:130px;
  height:55px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u470 {
  position:absolute;
  left:2px;
  top:16px;
  width:126px;
  word-wrap:break-word;
}
#u471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u471 {
  position:absolute;
  left:100px;
  top:1013px;
  width:458px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u472 {
  position:absolute;
  left:0px;
  top:0px;
  width:458px;
  word-wrap:break-word;
}
#u473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1171px;
  height:2px;
}
#u473 {
  position:absolute;
  left:100px;
  top:1000px;
  width:1170px;
  height:1px;
}
#u474 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1166px;
  visibility:hidden;
  word-wrap:break-word;
}
